# .NET
bin/
obj/
*.user
*.suo
*.vs
*.db

# SQLite DB (persist locally, don’t commit)
# SQLite database files
ezra.Server/AppData/*.db
ezra.Server/AppData/*.db-shm
ezra.Server/AppData/*.db-wal


# Node
node_modules/
dist/
.vite/

# Misc
*.log
